@use '../globals'as *;
@use '../utilities'as *;

.about {

    color: var(--color-black);
    background-color: var(--bg-grey);

    &__heading {
        text-align: center;
        margin-bottom: rem(40);
    }

    &__title {
        font-size: 30px;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;

        h2 {
            padding: 16px 0;
        }

        h3 {
            padding: 12px 0;
            color: var(--color-primary);
        }

        p {
            margin-bottom: 10px;
            padding-bottom: 10px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                background-color: black;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__icon {
        margin-right: 5px;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        padding-right: rem(40);

        img {
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }

    &__image {
        border-radius: 5px;

        img {
            width: 90%;
            height: 90%;
            object-fit: cover;
        }
    }

    &__btn {
        .btn-main {
            margin-right: rem(20);
        }
    }
}