.experience {
    &__heading {
        text-align: center;
        margin-bottom: 50px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin-bottom: 50px;
    }

    &__item {
        .dot {
            width: 10px;
            height: 10px;
            background-color: var(--color-primary);
            border-radius: 50%;
        }
    }
}