.footer {
    padding: 20px 0;
    background-color: var(--color-secondary);



    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    .social-media {
        &__item {
            padding: 16px;
        }
    }
}