@use '../globals'as *;
@use '../utilities'as *;

.header {
    height: 100vh;
    background: url("https://i.gifer.com/IrM.gif") no-repeat center center fixed;
    background-size: cover;

    position: relative;

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--color-white);

        a {
            display: block;
        }

        .btn-main {
            margin-top: rem(40);
        }

    }

    &__name {
        span {
            color: var(--color-primary);
        }

        font-size: rem(50);
    }

    &__desc {
        font-size: rem(35);
    }

    @media (max-width: $md-min) {
        height: 60vh;

        &__name {
            font-size: 45px;
        }

        &__desc {
            font-size: 30px;
        }
    }

    @media (max-width: $xs-min) {
        &__name {
            min-width: max-content;
        }

        &__desc {
            font-size: 30px;
        }
    }

    @media (max-width: $xxs-min) {
        &__name {
            font-size: 20px;
        }

        &__desc {
            font-size: 16px;
        }
    }
}