@use '../globals'as *;
@use '../utilities'as *;

.menu {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 10;
    height: 80px;

    .container-fluid {
        height: 100%;
    }

    .logo {
        img {

            width: 30px;
            height: 30px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 100%;
    }

    a {
        color: white;

    }

    &-list {
        ul {
            display: flex;
        }
    }

    &-item {
        padding: rem(16) rem(20);
        margin-left: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        font-weight: bold;
        background: linear-gradient(to left, transparent 50%, var(--color-primary) 50%) right;
        background-size: 350%;
        transition: .6s ease-out;

        &:hover {
            background-position: left;
        }
    }

    .nav {
        cursor: pointer;
        display: none;
        // height: 100%;
        // line-height: 80px;

        img {
            width: 30px;
            height: 30px;

        }
    }
}

.menu-mobile {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    // color: var(--color-white);
    z-index: 10;

    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    ul>a {
        color: var(--color-white);
    }
}

@media (max-width: $xs-min) {
    .menu {
        &-list {
            display: none;
        }

        .nav {
            display: block;
        }
    }
}