@use '../globals';
@use '../utilities';

menu {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 10;

    &-list {
        display: flex;
        flex-direction: column;

    }
}