@use '../globals'as *;
@use '../utilities'as *;

.menu {
    position: absolute;
    right: 0;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    // z-index: 10;

    // width: 100%;
    // height: 100%;

    &-list {
        display: flex;
        flex-direction: column;
    }

    &-item {
        padding: rem(16) rem(8);
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        font-weight: bold;
        background: linear-gradient(to left, transparent 50%, #009DAE 50%) right;
        // background-size: 300%;
        transition: .5s ease-out;

        &:hover {
            background-position: left;
        }
    }
}