@use '../globals';
@use '../utilities';

// .btn-main {
//     background-color: transparent;
//     padding: 8px 20px;
//     border: 1px solid white;
//     display: inline-block;
//     border-radius: 20px;
//     transition: all 0.3s ease;
//     cursor: pointer;
//     margin-top: 16px;

//     &:hover {
//         background-color: #009DAE;
//         color: white;

//     }
// }

.btn-main {
    color: var(--color-black);
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 18px 30px;
    border-radius: 8px;
    cursor: pointer;
    width: max-content;
    margin-top: 16px;
    background: linear-gradient(to left, var(--color-primary) 50%, transparent 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

    &:hover {
        background-position: left;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

}

.resume__btn {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 18px 30px;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, var(--color-primary) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

    &:hover {
        background-position: left;
        color: var(--color-black);

    }
}