@use '../globals';
@use '../utilities';

.btn-main {
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid white;
    display: inline-block;
    border-radius: 20px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #009DAE;
        color: white;

    }
}