.skill {
    &__heading {
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        text-align: center;
        margin-top: 40px;
    }

    &__item {
        background-color: var(--bg-grey);
        margin-left: 10px;
        padding: 50px;
        border-radius: 15px;
        box-shadow: 0 0 0 0 10px;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

    }
}